ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

li {
    width: 80%;
    height: 20px;
    margin: 5px auto;
    cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.frame {
    width: 100vw;
    height: 100vh;
    background-color: #bac1b8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90vw;
    height: 85vh;
    background-color: #0c7c59;
}


.colorChanger {
    position: absolute;
    top: 15vh;
    left: 10vw;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.changer-wrapper {
    width: 300px;
    height: 250px;
    margin-top: 5px;
    position: absolute;
    top: 19vh;
    left: 10vw;
    border: 1px solid black;
    overflow: hidden;
}

.frame-btn,
.content-btn {
    width: 50%;
    height: 15%;
    float: left;
    cursor: pointer;
}

.frame-btn {
    background-color: lightblue;
}

.content-btn {
    background-color: lightseagreen;
}

.setup-wrapper {
    width: 200%;
    height: 85%;
    transition: .4s;
    clear: left;
}

.changer-frame,
.changer-content{
    width: 50%;
    height: 100%;
    float: left;
}

.changer-frame {
    background-color: lightblue;
}

.changer-content {
    background-color: lightseagreen;
}
